<section class="page">
    <h1>Categorias</h1>

    <div class="actions">
        <button class="btn btn-primary" type="button" (click)="incluirCategoria()">+ Nova</button>
        <button class="btn btn-secondary" type="button" (click)="filtrarCategoria()">Filtrar</button>
    </div>

    <hr />

    <h2>Categorias cadastradas</h2>

    @if (categorias().length === 0) {
    <p>Nenhuma categoria cadastrada.</p>
    }

    @if (categorias().length > 0) {
    <table class="data-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @for (categoria of categorias(); track categoria.id) {
                <tr>
                    <td>{{ categoria.id }}</td>
                    <td>{{ categoria.nome }}</td>
                    <td>{{ categoria.descricao }}</td>
                    <td>
                        <button class="btn btn-primary" type="button" (click)="editarCategoria(categoria.id)">Editar</button>
                    </td>
                    <td>
                        <button class="btn btn-delete" type="button" (click)="deletarCategoria(categoria.id)">Deletar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    } 
</section>

<app-modal [aberto]="exibirFormulario" [titulo]="categoriaEmEdicaoId === null ? 'Nova Categoria' : 'Editar Categoria'" 
    (fechar)="resetarFormulario()"
>
    <form (ngSubmit)="salvarCategoria()">
        <div>
            <label for="nome">Nome</label>
            <input id="nome" type="text" [(ngModel)]="nome" name="nome">
        </div>

        <div>
            <label for="descricao">Descrição</label>
            <input id="descricao" type="text" [(ngModel)]="descricao" name="descricao">
        </div>

        <div class="modal-actions">
            <button class="btn btn-primary" type="submit">{{ categoriaEmEdicaoId === null ? 'Salvar' : 'Atualizar' }}</button>

            <button class="btn btn-secondary" type="button" (click)="resetarFormulario()">Cancelar</button>
        </div>
    </form>
</app-modal>
