<div>
    <h1>Categorias</h1>

    <form (ngSubmit)="salvarCategoria()">
        <div>
            <label for="nome">Nome</label>
            <input id="nome" type="text" [(ngModel)]="nome" name="nome">
        </div>

        <div>
            <label for="descricao">Descrição</label>
            <input id="descricao" type="text" [(ngModel)]="descricao" name="descricao">
        </div>

        <button type="submit">Salvar</button>
    </form>

    <hr />

    <h2>Categorias cadastradas</h2>

    @if (categorias.length === 0) {
    <p>Nenhuma categoria cadastrada.</p>
    }

    @if (categorias.length > 0) {
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Descrição</th>
        </tr>
        </thead>

        <tbody>
        @for (categoria of categorias; track categoria.id) {
            <tr>
            <td>{{ categoria.id }}</td>
            <td>{{ categoria.nome }}</td>
            <td>{{ categoria.descricao }}</td>
            <td><button type="button" (click)="editarCategoria(categoria.id)">Editar</button></td>
            <td><button type="button" (click)="deletarCategoria(categoria.id)">Deletar</button></td>
            </tr>
        }
        </tbody>
    </table>
    } 
</div>
