<section class="page">
    <h1>Produtos</h1>

    <div class="actions">
        <button class="btn btn-primary" type="button" (click)="incluirProduto()">+ Novo</button>
        <button class="btn btn-secondary" type="button" (click)="filtrarProduto()">Filtrar</button>
    </div>

    <hr>

    @if (exibirFormulario) {
        <h2>
            {{ produtoEmEdicaoId === null ? 'Novo Produto' : 'Editar Produto' }}
        </h2>
        <form (ngSubmit)="botaoSalvar()">
            <div>
                <label for="nome">Nome</label>
                <input id="nome" type="text" [(ngModel)]="nome" name="nome" required>
            </div>
            <div>
                <label for="descricao">Descrição</label>
                <input id="descricao" type="text" [(ngModel)]="descricao" name="descricao">
            </div>
            <div>
                <label for="categoria">Categoria</label>
                <select name="categoriaId" [(ngModel)]="categoriaId" id="categoriaId" required>
                    <option [ngValue]="null">Selecione uma categoria</option>
                    
                    @for (categoria of categorias(); track categoria.id) {
                        <option [ngValue]="categoria.id">
                            {{ categoria.nome }}
                        </option>
                    }
                </select>
            </div>
            <div>
                <label for="precoCusto">Preço Custo</label>
                <input id="precoCusto" type="number" step="0.01" min="0" [(ngModel)]="precoCusto" name="precoCusto" required>
            </div>
            <div>
                <label for="precoVenda">Preço Venda</label>
                <input id="precoVenda" type="number" step="0.01" min="0" [(ngModel)]="precoVenda" name="precoVenda" required>
            </div>
            <div>
                <label for="quantidadeEstoque">Quantidade em estoque</label>
                <input id="quantidadeEstoque" type="number" step="1" min="0" [(ngModel)]="quantidadeEstoque"  name="quantidadeEstoque" required>
            </div>
            <button class="btn btn-primary" type="submit">
                {{ produtoEmEdicaoId === null ? 'Salvar' : 'Atualizar' }}
            </button>
            <button class="btn btn-secondary" type="button" (click)="resetarFormulario()">Cancelar</button>
        </form>

        <hr>
    }

    <h2>Produtos Cadastrados</h2>
    
    @if (produtos().length === 0){
        <p>Nenhum produto cadastrado.</p>
    }

    @if (produtos().length > 0) {
        <table class="data-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Categoria</th>
                    <th>Preço Custo</th>
                    <th>Preço Venda</th>
                    <th>Quantidade em estoque</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
        
        
            <tbody>
                @for (produto of produtos(); track produto.id) {
                    <tr>
                        <td>{{ produto.id }} </td>
                        <td>{{ produto.nome }}</td>
                        <td>{{ produto.descricao }}</td>
                        <td>{{ produto.categoriaNome }}</td>
                        <td>{{ produto.precoCusto }}</td>
                        <td>{{ produto.precoVenda }}</td>
                        <td>{{ produto.quantidadeEstoque }}</td>
                        <td>
                            <button class="btn btn-primary" type="button" (click)="editarProduto(produto.id)">Editar</button>
                        </td>
                        <td>
                            <button class="btn btn-delete" type="button" (click)="deletarProduto(produto.id)">Deletar</button>
                        </td>
                    </tr>
                }    
            </tbody>
        </table>
    }

</section>