<aside class="sidebar">
    <div class="sidebar-content">
        <div class="sidebar-title">
            <h2>Price Lab</h2>
        </div>

        <nav>
            <a routerLink="/app/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <span>Home</span>
            </a>
            <a routerLink="/app/estrategias-preco" routerLinkActive="active">
                <span>Estratégias de Preço</span>
            </a>
            <a routerLink="/app/produtos" routerLinkActive="active">
                <span>Produtos</span>
            </a>
            <a routerLink="/app/categorias" routerLinkActive="active">
                <span>Categorias</span>
            </a>
            
            <a routerLink="/app/usuarios" routerLinkActive="active">
                <span>Usuários</span>
            </a>
        </nav>
    </div>
</aside>